body{
    background-image: url(Image/téléchargement\ \(2\).jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.en-tete{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}

table{
    border: 1px double yellow;
    border-collapse: collapse;
}

td, th{
    border: 1px solid yellow;
    width: 100vh;
    padding: 16px;
    text-align: center;
}

.jours{
    color: forestgreen;
}

.Heures{
    color: navy;
}

.prix{
   color: rgb(211, 110, 8);
}

.info{
    background-color: aquamarine;
}